<div class="container w-50 text-center my-4">
<div class="my_answer">
<h2><%= @question %></h2>
<p><em> - You</em></p>
</div>
<div class="coach_answer">
<h2><%= @answer %></h2>
<p><em> - Your coach</em></p>
</div>
<div class="link-primary mt-2">
<%= link_to "Ask your coach something else", ask_path %>
</div>
</div>
