<div class="container w-50 text-center my-4">
<h1>Ask your coach anything:</h1>

<form action="/answer" data-turbo="false">
  <input type="text" name="question" class="form-control mb-2" placeholder="Type here...">
  <input type="submit" value="Ask!" class="btn btn-primary mb-2">
</form>

</div>
